
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh - 60px);
}

main > div {
  height: 100%;
  min-width: 50%;
  border: 3px solid #030a18;
  padding: 10px;
}

main.side-by-side {
  flex-direction: row;
}

main.side-by-side > div {
  width: 100%;
  min-height: 50%;
}
